.marquee-box {
  width: 100%;
  background: #ffffff; /* pure white */
  padding: 30px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  margin-top: 220px;
}

.marquee-title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #000;
}

.marquee-stars {
  margin-top: 8px;
  font-size: 20px;
  color: #ffb400; /* gold stars */
  letter-spacing: 6px;
}
