/* GLOBAL FIX → HEADER OVERLAP SOLVED */
body {
    padding-top: 80px; /* header height */
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------ HEADER ------------------ */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #ffffff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 320px;
}

@media only screen and (min-width: 400px) and (max-width: 768px) {

    header {
        height: 80px  !important;      /* force override */
        padding: 10px 38px !important;
        align-items: center !important;
        justify-content: space-between;
    }
    .left-container {
        display: flex !important;
        align-items: center !important;
        justify-content: end !important;
        gap: 172px !important;
    }
    .creative-wrapper {
        width: 100% !important;
    }
    .footer-box>p {
        font-size: 14px !important;
    }
    .testimonial-quote { 
        font-size: 10px !important;
    }
    .lastPart-desc {
    font-size: 14px !important;
    color: #cfcfcf !important;
    line-height: 1.6 !important;
    max-width: 400px !important;
}
.marquee-title {
    font-size: 17px !important;
}
.testimonial-card {
width: 204px !important;
}
.sparkle-container {
    height: 172px !important;
}
}


/* LEFT SECTION (Hamburger + Logo) */
.left-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* HAMBURGER */
.hamburger {
    display: none;
    font-size: 40px;
    color: #02e054;
    cursor: pointer;
    position: relative;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
}

.signal {
    display: flex;
    align-items: flex-end;   /* sab niche se aligned */
    gap: 3px;
    height: 18px;
}

.signal .box1,
.signal .box2,
.signal .box3 {
    width: 6px;
    height: 6px;
    background: linear-gradient(to top, #47CC8A, #81FC93);
    border-radius: 2px;
}

.logo h1 {
    font-size: 26px;
    font-weight: 700;
    color: #000;
}


/* initial small heights */
.signal .box1 { width: 8px; height: 17px; left: 0px; }
.signal .box2 { width: 8px; height: 11px; left: -10px; }
.signal .box3 { width: 8px; height: 6px; left: -20px; }

/* ------------------ NAV LINKS ------------------ */
.navlink {
    display: flex;
    align-items: center;
    gap: 90px;
}

.navlink a {
    font-size: 15px;
    text-decoration: none;
    color: #0C0C0C;
    transition: 0.2s;
    cursor: pointer;       /* Makes the hand pointer appear */
    font-family: "PP Telegraf";
    font-weight: 400;

}
.navlink a:hover {
    color: #02e054;
}

/* CTA BUTTON */
.navlink .cta {
    width: 160px;
    height: 55px;
    background: #6DFB9F;
    border: 2px solid #000;
    border-radius: 12px;
    text-align: center;
    line-height: 55px;
    box-shadow: 6px 6px 0px #000000;
    transition: 0.2s;
    font-family: "PP Telegraf";
    font-size: 19px;
    font-weight: 800;
}

.navlink .cta:hover {
    background: #00c243;
    box-shadow: 4px 4px 0px #000000;
}

/* ------------------ MOBILE ------------------ */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .navlink {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: start;
        padding: 20px;
        background: #02e054;
        display: none;
        gap: 20px;
        border-bottom: 2px solid #000;
    }

    .navlink.open {
        display: flex;
    }

    .navlink a {
        color: #fff;
        text-shadow: 1px 1px 1px black;
    }

    .navlink .cta {
        width: 140px;
        height: 45px;
        line-height: 45px;
    }
}
