@font-face {
  font-family: 'PP Telegraf';
  src: url('/public/Fonts/PPTelegraf-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PP Telegraf';
  src: url('/public/Fonts/PPTelegraf-Ultrabold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}