*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.notification-card {
  background: #2c2c2c;
  color: #fff;
  padding: 12px 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  max-width: 435px;
  height: 96px;
}

.notif-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.notif-logo {
  width: 51px;
  height: 51px;
  object-fit: contain;
  border-radius: 6px;
  background: #444;
  padding: 3px;
}

.notif-title {
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
}

.notif-desc {
  font-size: 12px;
  color: #bbb;
  margin-top: 10px;
}

.notif-time {
  font-size: 11px;
  color: #aaa;
  margin-top: -30px;
}
@media only screen and (max-width: 320px){
    .notification-card{
        width: 260px;
        height: 60px;
    }
    .notif-title{
        font-size: 10px;
    }
}
@media only screen and (min-width: 321px) and (max-width: 328px){
    .notification-card{
        width: 270px;
        height: 60px;
    }
    .notif-title{
        font-size: 10px;
    }
}
@media only screen and (min-width: 329px) and (max-width: 450px){
    .notification-card{
        width: 280px;
        height: 70px;
    }
    .notif-title{
        font-size: 10px;
    }
}
@media only screen and (min-width: 451px) and (max-width: 768px){
    .notification-card{
        width: 250px;
        height: 80px;
    }
    .notif-title{
        font-size: 12px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 931px){
    .notification-card{
        width: 300px;
        height: 80px;
    }
}
@media only screen and (min-width: 932px) and (max-width: 1024px){
    .notification-card{
        width: 350px;
        height: 80px;
    }
}
@media only screen and (min-width: 1441px) and (max-width: 2560px) {
    .notification-card{
        width: 435px;
        height: 96px;
    }
    .notif-logo{
        width: 54px;
        height: 54px;
    }
    .notif-title{
        font-size: 16px;
    }
}