.case-wrapper {
  padding: 80px 20px;
  position: relative;
  background-image: url("../Bottom/images/bg1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0C0C0C;
  margin-bottom: 50px;
  color: #fff;
}

.case-container {
  width: 1106px;
  margin: auto;
}

.case-header {
  text-align: center;
  margin-bottom: 50px;
}

.case-header .badge {
  background: rgba(255, 255, 255, 0.1);
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  color: #fff;
}

.case-header h2 {
  font-size: 48px;
  margin: 12px 0;
}

.case-header h2 span {
  color: #000;
}

.case-header p {
  max-width: 700px;
  margin: auto;
  opacity: 0.8;
}

/* MAIN */
.case-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  align-items: center;
  margin-bottom: 50px;
}

.case-images img {
  width: 100%;
  border-radius: 20px;
}

/* TEXT */
.case-tag {
  color: #000;
  font-size: 16px;
  font-weight: 900;
}

.case-text h3 {
  font-size: 32px;
  margin: 12px 0;
}

.case-text h3 span {
  color: #000;
}

.case-text p {
  opacity: 0.85;
  line-height: 1.7;
}

/* BUTTONS */
/* BUTTONS */
.case-buttons {
  display: grid;
  grid-template-columns: repeat(3, 310px);
  gap: 16px;
  margin-bottom: 30px;
  justify-content: center;
}

.case-buttons button {
  width: 310px;
  height: 56px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 14px;
  font-weight: 500;
}

/* Active / Hover */
.case-buttons button.active,
.case-buttons button:hover {
  background: #6DFB9F;
  color: #000;
  border-color: #6DFB9F;
}


/* CTA */
.case-cta {
  background: #000;
  color: #000;
  padding: 14px 40px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .case-buttons {
    grid-template-columns: repeat(2, 310px);
  }
}

@media (max-width: 700px) {
  .case-buttons {
    grid-template-columns: 1fr;
  }

  .case-buttons button {
    width: 100%;
  }
}
/* EMAIL CARD */
.email-auto-card {
  width: 423px;
  height: 448px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  background: #111;
}

/* LONG EMAIL IMAGE */
.email-auto-scroll {
  width: 100%;
  height: auto;
  animation: scrollEmail 12s linear infinite;
}

/* TOP → BOTTOM SCROLL */
@keyframes scrollEmail {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-60%);
  }
}


/* WHEN IMAGE IS MISSING → CENTER CONTENT */
.case-content.no-image {
  grid-template-columns: 1fr;
  justify-items: center;
}

.case-content.no-image .case-text {
  text-align: center;
  max-width: 600px;
}
