/* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* Wrapper */
.wrap-case-content {
  width: 100%;
  background: #F5F5F5;
  padding-bottom: 50px;
}

.main-case {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-case {
  text-align: center;
  margin-top: 80px;
  gap: 20px;
}

.top-case h2 { font-size: 50px; }
.top-case p { font-size: 20px; max-width: 800px; font-weight: 400; }

.case-header-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
}

.see-more-btn {
  color: #6c63ff;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.see-more-btn:hover { border-color: #6c63ff; }


/* Slider */
.slider-wrapper {
  position: relative;
  width: 100%;
  max-width: 950px;
  margin: 40px auto;
}

.slider-container {
  overflow: hidden;
  margin-left: 10px;
}

.slider-track {
  display: flex;
  gap: 30px;
  transition: transform 0.5s ease-in-out;
}

/* Card */
.case-card {
  width: 450px;
  height: 630px;
  background: #000;
  color: #fff;
  border-radius: 12px;
  padding: 20px;
  flex-shrink: 0;
}

/* Buttons */
.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  color: #fff;
  font-size: 30px;
  border: none;
  border-radius: 50%;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 10;
}
.slider-btn:hover {
  background: #6DFB9F;
}

.slider-btn.prev { left: -15px; }
.slider-btn.next { right: -15px; }

/* Responsive */
@media (max-width: 768px) {
  .case-card {
    width: 100%;
  }
}
@media (max-width: 460px) {
  .slider-wrapper {
    width: 90%;
    }
    .case-card {
        width: 348px !important;
        height: 650px !important;
    }
    .case-image {
        width: 309px !important;
    }
}

.case-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.case-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.case-title { font-size: 1.5rem; font-weight: 700; margin: 1rem 0 0.5rem; }
.case-desc { font-size: 1rem; line-height: 1.6; color: #d8d8d8; margin-bottom: 1.5rem; }

/* Dots */
.slider-dots { text-align: center; margin-top: 65px; }
.dot {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}
.active-dot { background-color: #6DFB9F; }

/* Responsive */
@media (max-width: 1024px) {
  .case-card { min-width: 48%; }
}
@media (max-width: 768px) {
  .case-card { min-width: 100%; }
  .slider-btn { font-size: 24px; }
}
