/* reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

.wrap-case-content {
    width: 100%;
    background: #F5F5F5;
    height: auto;
}
.wrap-case {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

.main-case {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

.top-case {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 100px;
    text-align: center;
}

.top-case h2 { font-size: 50px; }
.top-case p { font-size: 20px; max-width: 800px; font-weight: 400; }

.bottom-case {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin-top: 50px;
}

.case-card {
    background: #000;
    color: #fff;
    border-radius: 12px;
    overflow: hidden;
    width: 450px;
    height: 590px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
    text-align: start;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.case-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.case-image {
    width: 410px;
    height: 263px;
    border-radius: 12px 12px 0 0;
}

.case-content { padding: 1.5rem; display: flex; flex-direction: column; flex-grow: 1; }
.case-title { font-size: 1.5rem; font-weight: 700; margin: 1rem 0 0.5rem; }
.case-desc { font-size: 1rem; line-height: 1.6; color: #d8d8d8; margin-bottom: 1.5rem; }

.read-more {
    background: #73ff91;
    color: #000;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    padding: 0.75rem 1.5rem;
    align-self: flex-start;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 6px 6px 0px white;
}

.read-more:hover { background: #61db79; }

/* pagination */
.pagination { display: flex; justify-content: center; align-items: center; gap: 10px; margin-top: 50px; cursor: pointer; }
.number-slider { display: flex; gap: 10px; }
.number-slider li { list-style: none; padding: 5px 10px; }
.number-slider #n-1 { border: 1px solid #E2E2E2; background: #E2E2E2; }
.number-slider #n-2, #n-3 { color: #a1a1a1; border: 1px solid transparent; }
.number-slider #n-2:hover, #n-3:hover { border-color: #E2E2E2; background: #E2E2E2; }
.next { font-size: 15px; color: #a1a1a1; }
.case-header-row {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
}

.see-more-btn {
  color: #6c63ff;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.see-more-btn:hover {
  border-color: #6c63ff;
}

/* Media queries here (merge previous ones) */
